<!-- ========== banner-section start============= -->

<section class="section-common banner-section-one d-flex flex-column" id="home">
  <div class="banner-mobile-image d-lg-none d-block">
    <%# TODO: replace with my image %>
    <img src="https://i.pinimg.com/originals/a0/43/28/a04328e8f6591166764b1941b08b15d0.jpg" alt="image" />
  </div>
  <div class="banner-one-content">
    <div class="banner-one-circle">
      <div class="circle-text-common circle-text-area">
        <%= image_tag "icons/rails2-icon.png", alt: "Rails" %>
        <p id="CircleTypeText1" class="circle-text">Ruby On Rails Developer•</p>
      </div>
    </div>

    <span class="subtitle">Hello, I'm</span>
    <h2 class="title my-name">Dipen <span class="title-padding">Chauhan</span></h2>
    <p class="description">I'm a web and software developer. In the past I have worked as a Software Tester and Ruby on Rails Developer</p>
    <a href="#portfolio" class="eg-btn btn--primary btn--lg">View My Work</a>
    <a href="#hire-me" class="ms-4 eg-btn btn--primary-three btn--lg">Hire Me</a>
  </div>
</section>

<!-- ========== banner-section end============= -->

<!-- ========== about-me start============= -->

<section class="section-common about-me-section" id="about">
  <div class="container-fluid">
    <div class="about-me-content-1">
      <span>The Workspace</span>
      <h2>Coding is my passion</h2>
      <p>
        I'm based in Chico, CA. I Graduated with a BS degree in Computer Science from CSU Chico. I'm passionate about building excellent software that solves problems and
        improves user experiences. If there is anything challenging I want to do it. JavaScript, C++ and Ruby are my go to programming languages.
        <b class="fw-bold text-decoration-underline">I'm available for hire</b> and I'm open to collaborating on interesting projects that are challenging and furthers my
        knowledge. My goal is to develop software for a company that are in the medical, automotive, defense or aerospace industries.
      </p>
    </div>

    <!-- Technologies -->
    <div class="technologies-block">
      <h2>Technologies</h2>
      <p>Here are a few technologies I've been working with recently</p>
      <ul class="technologies-list">
        <li>
          <a href="https://docs.microsoft.com/en-us/cpp/?view=msvc-170" rel="nofollow"><%= image_tag "skills/c-colored.svg", alt: "C" %>C</a>
        </li>
        <li>
          <a href="https://docs.microsoft.com/en-us/cpp/?view=msvc-170" rel="nofollow"><%= image_tag("skills/cplusplus-colored.svg", alt: "C++") %>C++</a>
        </li>
        <li>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" rel="nofollow"
            ><%= image_tag("skills/javascript-colored.svg", alt: "JavaScript") %>JavaScript</a
          >
        </li>
        <li>
          <a href="https://www.ruby-lang.org/en/" rel="nofollow"><%= image_tag "skills/ruby-colored.svg", alt: "Ruby" %>Ruby</a>
        </li>
        <li>
          <a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" rel="nofollow"><%= image_tag "skills/html5-colored.svg", alt: "HTML5" %>HTML5</a>
        </li>
        <li>
          <a href="https://rubyonrails.org/" rel="nofollow"><%= image_tag "skills/rails.png", alt: "Rails" %>Rails</a>
        </li>
        <li>
          <a href="https://hotwired.dev/" rel="nofollow"><%= image_tag "skills/hotwire.png", alt: "Hotwire" %>Hotwire</a>
        </li>
        <li>
          <a href="https://reactjs.org/" rel="nofollow"><%= image_tag "skills/react-colored.svg", alt: "React" %>React</a>
        </li>
        <li>
          <a href="https://jquery.com/" rel="nofollow"><%= image_tag "skills/jquery-colored.svg", alt: "JQuery" %>JQuery</a>
        </li>
        <li>
          <a href="https://www.w3.org/TR/CSS/#css" rel="nofollow"><%= image_tag "skills/css3-colored.svg", alt: "CSS3" %>CSS3</a>
        </li>
        <li>
          <a href="https://sass-lang.com/" rel="nofollow"><%= image_tag "skills/sass-colored.svg", alt: "Sass" %>Sass</a>
        </li>
        <li>
          <a href="https://getbootstrap.com/" rel="nofollow"><%= image_tag "skills/bootstrap-colored.svg", alt: "Bootstrap" %>Bootstrap</a>
        </li>
        <li>
          <a href="https://greensock.com/gsap/" rel="nofollow"><%= image_tag "skills/gsap-greensock.svg", alt: "GSAP" %>GSAP</a>
        </li>
        <li>
          <a href="https://nodejs.org/en/" rel="nofollow"><%= image_tag "skills/nodejs-colored.svg", alt: "NodeJS" %>NodeJS</a>
        </li>
        <li>
          <a href="https://www.postgresql.org/" rel="nofollow"><%= image_tag "skills/postgresql-colored.svg", alt: "PostgreSQL" %>PostgreSQL</a>
        </li>
        <li>
          <a href="https://www.heroku.com/" rel="nofollow"><%= image_tag "skills/heroku-colored.svg", alt: "Heroku" %>Heroku</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ========== about-me end============= -->

<!-- ========== portfolio start============= -->

<section class="section-common portfolio-section pt-120" id="portfolio">
  <div class="row">
    <div class="section-title-three text-center">
      <div class="water-text">Portfolio</div>
      <h2>Portfolio</h2>
    </div>
  </div>
  <div class="row justify-content-center g-4">
    <div class="col-lg-12">
      <div class="filters filter-button-group">
        <ul class="d-flex justify-content-center flex-wrap" id="portfolioCategories">
          <li class="filter active" data-filter="*">All <span>23</span></li>
          <li class="filter" data-filter="rails">Ruby on Rails <span>3</span></li>
          <li class="filter" data-filter="javascript">Javascript <span>20</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-4 portfolio-item-container">
    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/spock-rock-game/main/preview.png" alt="image" />
        <div class="content">
          <h3>Rock Paper Scissors Lizard Spock</h3>
          <p>Game similar to Rock Paper Scissors</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/form-validator/main/preview.png" alt="image" />
        <div class="content">
          <h3>Form Validator</h3>
          <p>Validate a (Sign Up) form using JavaScript</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="rails">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/book-keeper/main/preview.png" alt="image" />
        <div class="content">
          <h3>Book Keeper</h3>
          <p>Allow users to save bookmarks. User can click on the bookmarks/links and will be redirected to the website.</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/spock-rock-game/main/preview.png" alt="image" />
        <div class="content">
          <h3>Rock Paper Scissors Lizard Spock</h3>
          <p>Game similar to Rock Paper Scissors</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="rails">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/form-validator/main/preview.png" alt="image" />
        <div class="content">
          <h3>Form Validator</h3>
          <p>Validate a (Sign Up) form using JavaScript</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/book-keeper/main/preview.png" alt="image" />
        <div class="content">
          <h3>Book Keeper</h3>
          <p>Allow users to save bookmarks. User can click on the bookmarks/links and will be redirected to the website.</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ========== portfolio end============= -->

<!-- ========== contact-section start============= -->

<section class="section-common contact-section pt-120 pb-120" id="hire-me">
  <div class="row">
    <div class="section-title-three text-center">
      <div class="water-text">Get In Touch</div>
      <h2>Get In Touch</h2>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-12 col-lg-12">
      <form class="contact-me-form">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-inner">
              <input type="text" placeholder="Enter your name" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-inner">
              <input type="text" placeholder="Enter your email" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-inner">
              <input type="text" placeholder="Subject" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-inner">
              <textarea rows="6" placeholder="Write Your message"></textarea>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="eg-btn btn--primary btn--lg">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- ==========contact-section end============= -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="copyright">© 2023 <a href="https://github.com/overdrivemachines">Dipen Chauhan</a></div>
      </div>
    </div>
  </div>
</footer>
