<%= turbo_frame_tag "portfolio-frame" do %>
  <section class="section-common portfolio-section pt-120" data-controller="portfolio">
    <div class="row">
      <div class="section-title-three text-center">
        <div class="water-text">Portfolio</div>
        <h2 id="portfolio">
          Portfolio
          <% if user_signed_in? %>
            <%= link_to new_project_path do %>
              <i class='bx bx-plus'></i>
            <% end %>
          <% end %>
        </h2>
      </div>
    </div>
    <div class="row justify-content-center g-4">
      <div class="col-lg-12">
        <div class="filters filter-button-group">
          <ul class="d-flex justify-content-center flex-wrap" id="portfolioCategories">
            <li class="filter active" data-filter="*">All <span><%= Project.all.size %></span></li>
            <% @categories.each do |category| %>
              <%# Do not show hidden category unless the user is signed in %>
              <% if user_signed_in? || category.name.downcase != "hidden" %>
                <li class="filter" data-filter="<%= category.abbr %>">
                  <%= category.name %>
                  <span><%= category.projects.size %></span>
                  <% if user_signed_in? %>
                    <span>
                      <%= link_to "Move Left", [category, {category: {move: "left"}}], data: {turbo_method: :patch}  %>
                    </span>
                    <span>
                      <%= link_to "Move Right", [category, {category: {move: "right"}}], data: {turbo_method: :patch}  %>
                    </span>
                    <span><%= link_to "Edit", edit_category_path(category) %></span>
                    <span><%= link_to "Delete", category, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
            <%# <li class="filter" data-filter="rails">Ruby on Rails <span>3</span></li> %>

            <% if user_signed_in? %>
              <li>
                <%= link_to new_category_path do %>
                  <i class='bx bx-plus'></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center g-4 portfolio-item-container">
      <%= render @projects %>
    </div>
  </section>
<% end %>
