<section class="section-common portfolio-section pt-120" id="portfolio">
  <div class="row">
    <div class="section-title-three text-center">
      <div class="water-text">Portfolio</div>
      <h2>Portfolio</h2>
    </div>
  </div>
  <div class="row justify-content-center g-4">
    <div class="col-lg-12">
      <div class="filters filter-button-group">
        <ul class="d-flex justify-content-center flex-wrap" id="portfolioCategories">
          <li class="filter active" data-filter="*">All <span><%= Project.all.size %></span></li>
          <% @categories.each do |category| %>
            <li class="filter" data-filter="<%= category.abbr %>"><%= category.name %> <span><%= category.projects.size %></span></li>
          <% end %>
          <%# <li class="filter" data-filter="rails">Ruby on Rails <span>3</span></li> %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-4 portfolio-item-container">
    <% @projects.each do |project| %>
      <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="<%= project.category.abbr %>">
        <div class="portfolio-single-one style-three magnetic-item">
          <%= image_tag project.image, class: "img-fluid", alt: "Image" %>
          <div class="content">
            <h3><%= project.title %></h3>
            <p><%= project.description %></p>
            <div class="d-flex justify-content-between">
              <a href="#">Live Site</a>
              <a href="#">View Code</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/spock-rock-game/main/preview.png" alt="image" />
        <div class="content">
          <h3>Rock Paper Scissors Lizard Spock</h3>
          <p>Game similar to Rock Paper Scissors</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/form-validator/main/preview.png" alt="image" />
        <div class="content">
          <h3>Form Validator</h3>
          <p>Validate a (Sign Up) form using JavaScript</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="rails">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/book-keeper/main/preview.png" alt="image" />
        <div class="content">
          <h3>Book Keeper</h3>
          <p>Allow users to save bookmarks. User can click on the bookmarks/links and will be redirected to the website.</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/spock-rock-game/main/preview.png" alt="image" />
        <div class="content">
          <h3>Rock Paper Scissors Lizard Spock</h3>
          <p>Game similar to Rock Paper Scissors</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="rails">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/form-validator/main/preview.png" alt="image" />
        <div class="content">
          <h3>Form Validator</h3>
          <p>Validate a (Sign Up) form using JavaScript</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="javascript">
      <div class="portfolio-single-one style-three magnetic-item">
        <img class="img-fluid" src="https://raw.githubusercontent.com/overdrivemachines/book-keeper/main/preview.png" alt="image" />
        <div class="content">
          <h3>Book Keeper</h3>
          <p>Allow users to save bookmarks. User can click on the bookmarks/links and will be redirected to the website.</p>
          <div class="d-flex justify-content-between">
            <a href="#">Live Site</a>
            <a href="#">View Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
