<section class="section-common contact-section pt-120 pb-120" id="hire-me">
  <div class="row">
    <div class="section-title-three text-center">
      <div class="water-text">Get In Touch</div>
      <h2>Get In Touch</h2>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-12 col-lg-12">
      <%= form_with model: @contact, id: "new-contact-form" do |form| %>
        <div id="new-contact-form-errors"></div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-inner">
              <%= form.text_field :name, placeholder: "Enter your name" %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-inner">
              <%= form.text_field :email, placeholder: "Enter your email" %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-inner">
              <%= form.text_field :subject, placeholder: "Subject" %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-inner">
              <%= form.text_area :message, placeholder: "Write your message", rows: 6 %>
            </div>
          </div>

          <div class="d-none">
            <%= form.label :nickname %>
            <%= form.text_field :nickname %>
          </div>

          <div class="col-12">
            <%# form.submit "Send Message", class: "eg-btn btn--primary btn--lg" %>
            <button type="submit" class="eg-btn btn--primary btn--lg">Send Message</button>
          </div>
        </div>

        <%# div.message-sent element will be inserted here %>
      <% end %>
    </div>
  </div>
</section>
