<div class="col-lg-4 col-md-6 col-sm-6 grid-item portfolio-item" data-category="<%= project.category.abbr %>">
  <div class="portfolio-single-one style-three magnetic-item">
    <% if project.image.persisted? %>
      <%= image_tag project.image, class: "img-fluid", alt: "Image" %>
    <% else %>
      <%= image_tag "placeholder.webp", class: "img-fluid", alt: "Image" %>
    <% end %>
    <div class="content">
      <h3><%= project.title %></h3>
      <p><%= project.description %></p>
      <div class="d-flex justify-content-between">
        <%= link_to "Live Site", project.live_url %>
        <%= link_to "View Code", project.code_url %>
        <%= link_to "Edit", edit_project_path(project) %>
        <%= link_to "Delete", project, data: {"turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
