<div class="col-md-6 col-lg-4 project-container">
  <%= link_to project.url, target: "_blank" do %>
    <figure>
      <% if project.image.persisted? %>
        <%= image_tag(project.image) %>
      <% else %>
        <%= image_tag "placeholder.webp" %>
      <% end %>
    </figure>
  <% end %>
  <div class="project-info">
    <h2 class="project-title"><%= project.title %></h2>
    <div class="badge-container">
      <span class="badge rounded-pill"><%= project.category.abbr %></span>
    </div>
  </div>
  <div class="project-description">
    <%= project.description %>
  </div>

  <% if user_signed_in? %>
    <div class="project-actions">
      <%= link_to "Edit", edit_project_path(project) %>
      <%= link_to "Delete", project, data: {"turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>

</div>
