<div class="col-md-6 col-lg-4 project-container">
  <%= link_to project.url, target: "_blank" do %>
    <figure>
      <% if project.image.persisted? %>
        <%= image_tag(project.image) %>
      <% else %>
        <img src="https://designshack.net/wp-content/uploads/placeholder-image.png">
      <% end %>
    </figure>
  <% end %>
  <div class="project-info">
    <h2 class="project-title"><%= project.title %></h2>
    <div class="badge-container">
      <span class="badge rounded-pill">Ruby on Rails</span>
    </div>
  </div>
  <div class="project-description">
    <%= project.description %>
  </div>

  <div class="project-actions">
    <%= link_to "Edit", edit_project_path(project) %>
    <%= link_to "Delete", project, data: {"turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>

</div>
