<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= project.url %>
  </p>

  <p>
    <strong>Display order:</strong>
    <%= project.display_order %>
  </p>

</div>
