<section class="portfolio-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>My Portfolio</h1>
        <div class="sub">
          <h2>A collection of my favorite projects I have worked on recently. I
            feel great to share them here.</h2>
        </div>
      </div>

    </div>

    <%= link_to "Add New Project", new_project_path, class: "btn btn-primary" %>

    <p style="color: green"><%= notice %></p>
    <ul class="filter-list">
      <li class="filter active"><%= link_to "All", projects_path(category: :all) %></li>
      <li class="filter"><%= link_to "Ruby on Rails", projects_path(category: :rails) %>
        | Edit</li>
      <li class="filter"><%= link_to "JavaScript", projects_path(category: :js) %>
        | Edit</li>
      <li class="filter"><%= link_to "C++", projects_path(category: :cpp) %>
        | Edit</li>
      <li class="filter">+</li>
    </ul>

    <div class="porfolio-gallery">
      <div class="row">
        <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
      </div>
    </div>
  </div>
</section>
