<section class="portfolio-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>My Portfolio</h1>
        <div class="sub">
          <h2>A collection of my favorite projects I have worked on recently. I
            feel great to share them here.</h2>
        </div>
      </div>

    </div>

    <%= link_to "Add New Project", new_project_path, class: "btn btn-primary" %>

    <p class="notice"><%= notice %>
      <%= params.inspect %>
    </p>
    <% if user_signed_in? %>
      <ul class="filter-list filter-edit">
        <li class="filter <%= filter_active?("all") %>"><%= link_to "All", projects_path %></li>
        <% @categories.each do |category| %>
          <li class="filter <%= filter_active?(category.abbr) %>">
            <%= link_to category.name, projects_path(category: category.abbr) %>
            <div class="edit-links">
              <%= link_to "Edit", edit_category_path(category) %>
              <%= link_to "Delete", category, data: { "turbo_method": :delete, "turbo_confirm": "Are you sure?" } %>
            </div>
          </li>
        <% end %>
        <li class="filter">
          <%= link_to "+ Add New", new_category_path %>
        </li>
      </ul>
    <% else %>
      <ul class="filter-list">
        <li class="filter active"><%= link_to "All", projects_path %></li>
        <% @categories.each do |category| %>
          <li class="filter"><%= link_to category.name, projects_path(category: category.abbr) %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="porfolio-gallery">
      <div class="row">
        <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
      </div>
    </div>
  </div>
</section>
