<div class="row justify-content-center align-items-center">
  <div class="col-xl-12 col-lg-12">
    <%= form_with model: @category do |form| %>
      <div class="row">
        <% if category.errors.any? %>
          <div class="col-lg-12" style="color: red">
            <h2><%= pluralize(category.errors.count, "error") %>
              prohibited this category from being saved:</h2>

            <ul>
              <% category.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-lg-12">
          <div class="form-inner">
            <%= form.text_field :name, placeholder: "Enter Category Name" %>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="form-inner">
            <%= form.text_field :abbr, placeholder: "Enter Category Abbreviation" %>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="eg-btn btn--primary btn--lg">Save</button>
          <%= link_to "Cancel", root_path, class: "eg-btn btn--primary-three btn--lg ms-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
