<div class="main-nav-wrapper">
  <div class="main-nav-js">
    <div class="menu-close-btn"><i class="bi bi-x-lg"></i></div>
    <div class="mobile-logo-area d-flex justify-content-start align-items-center">
      <div class="header-logo">
        <a href="index.html"><%= image_tag "icons/logo.png", alt: "Logo" %></a>
      </div>
    </div>
    <div class="sidebar-menu-area">
      <ul class="menu-list">
        <!-- Home -->
        <li class="menu-item"><a href="#home" class="mi-link" data-hover="Home"> Home</a></li>
        <!-- About -->
        <li class="menu-item"><a href="#about" class="mi-link" data-hover="About"> About</a></li>
        <!-- Portfolio -->
        <li class="menu-item"><a href="#portfolio" class="mi-link" data-hover="Portfolio"> Portfolio</a></li>
        <!-- Contact -->
        <li class="menu-item"><a href="#hire-me" class="mi-link" data-hover="Contact"> Contact</a></li>
      </ul>
    </div>
    <div class="sidebar-social d-flex justify-content-center gap-5">
      <a href="https://github.com/overdrivemachines"><%= image_tag "icons/github.svg", alt: "Github" %></a>
      <a href="https://codepen.io/overdrivemachines"><%= image_tag "icons/codepen.svg", alt: "Codepen" %></a>
      <a href="https://www.linkedin.com/in/dipen-chauhan-5026a1143/"><%= image_tag "icons/linkedin.svg", alt: "LinkedIn" %></a>
      <a href="https://dev.to/overdrivemachines"><%= image_tag "icons/devto.svg", alt: "Dev", style: "filter: invert(100%)" %></a>
    </div>
  </div>
</div>
