<div class="main-nav-wrapper">
  <div class="main-nav-js">
    <div class="menu-close-btn"><i class="bx bx-x bx-md"></i></div>
    <div class="mobile-logo-area d-flex justify-content-start align-items-center">
      <div class="header-logo">
        <%= link_to root_path do %>
          <%= image_tag "icons/logo.png", alt: "Logo" %>
        <% end %>
      </div>
    </div>
    <div class="sidebar-menu-area">
      <ul class="menu-list">
        <!-- Home -->
        <li class="menu-item">
          <%= link_to "Home", root_path(anchor: "home"), class: "mi-link", data: { hover: "Home" } %>
        </li>
        <!-- About -->
        <li class="menu-item">
          <%= link_to "About", root_path(anchor: "about"), class: "mi-link", data: { hover: "About" } %>
        </li>
        <!-- Portfolio -->
        <li class="menu-item">
          <%= link_to "Portfolio", root_path(anchor: "portfolio"), class: "mi-link", data: { hover: "Portfolio" } %>
        </li>
        <!-- Contact -->
        <li class="menu-item">
          <%= link_to "Contact", root_path(anchor: "hire-me"), class: "mi-link", data: { hover: "Contact" } %>
        </li>
        <!-- Login / Logout -->
        <li class="menu-item">
          <% if @is_user_signed_in %>
            <%= link_to "Logout", logout_path, class: "mi-link", data: { hover: "Logout", "turbo-method": :delete } %>
          <% else %>
            <%= link_to "Login", login_path, class: "mi-link", data: { hover: "Login" } %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="sidebar-social d-flex justify-content-center gap-5">
      <a href="https://github.com/overdrivemachines" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="Github">
        <i class="bx bxl-github bx-lg"></i>
      </a>
      <a href="https://codepen.io/overdrivemachines" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="Codepen">
        <i class="bx bxl-codepen bx-lg"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/dipen-chauhan-5026a1143/"
        data-bs-toggle="popover"
        data-bs-trigger="hover focus"
        data-bs-placement="top"
        data-bs-content="LinkedIn">
        <i class="bx bxl-linkedin bx-lg"></i>
      </a>
      <a href="https://dev.to/overdrivemachines" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="DEV">
        <i class="bx bxl-dev-to bx-lg"></i>
      </a>
    </div>
  </div>
</div>
