<nav id="navbar">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag("logo.png") %>
  <% end %>
  <ul class="main-list">
    <li class="<%= active?("/") %>">
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </li>
    <li class="<%= active?("/home/portfolio") %>">
      <%= link_to home_portfolio_path do %>
        <i class="fa-solid fa-briefcase"></i>
      <% end %>
    </li>
    <li class="<%= active?("/projects") %>">
      <%= link_to projects_path do %>
        <i class="fa-solid fa-briefcase"></i>
      <% end %>
    </li>
    <li class="<%= active?("/home/contact") %>">
      <%= link_to home_contact_path do %>
        <i class="fa-solid fa-envelope"></i>
      <% end %>
    </li>
  </ul>
  <ul class="profile-list">
    <li>
      <%= link_to "https://www.linkedin.com/in/dipen-chauhan-5026a1143/", target: :_blank do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://codepen.io/overdrivemachines", target: :_blank do %>
        <i class="fa-brands fa-codepen"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://github.com/overdrivemachines", target: :_blank do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-skype"></i></a>
    </li>
    <li class="<%= active?("/login") %>">
      <%= link_to "Login", login_path %>
    </li>
  </ul>
</nav>
