<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm a web and software developer. In the past I have worked as a Software Tester and Ruby on Rails Developer." />
    <meta name="theme-color" content="#101010" />

    <meta property="og:title" content="Dipen Chauhan ★ Web Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dipenchauhan.com/" />
    <meta property="og:image" content="TODO" />
    <meta name="og:description" content="I'm a web and software developer. In the past I have worked as a Software Tester and Ruby on Rails Developer." />

    <link rel="apple-touch-icon" href="icon.png" />
    <%# TODO: add logo-icon.svg %>
    <link rel="icon" href="assets/images/icons/logo-icon.svg" type="image/gif" sizes="20x20" />
    <!-- Place favicon.ico in the root directory -->

    <title>Dipen Chauhan ★ Web Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/menu' %>

    <main class="main-page-wrapper">
      <%= render 'layouts/fixed' %>
      <div class="page-content">
        <%= render 'layouts/header' %>
        <%= yield %>
      </div>
    </main>

    <!-- Google Analytics: change UA-XXXXX-Y to be my site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
